.coin-logo {
    width: 40px;
    height: 40px;
}

.logo-container {
    text-align: center;
}

.coins-table-header {
    text-align: center !important;
    padding: 0 !important;
    background-color: rgb(223, 223, 223);
}

.coins-table-header.sell {
    width: 10%;
}

.coins-table-header.market {
    width: 15%;
}

.coins-table-header.change {
    width: 10%;
}

.coins-table-header.buy {
    width: 10%;
    text-align: left !important;
}

.market-row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    .market-row {
        flex-direction: column;
    }
}

.table {
    margin-right: 5px;
}

.market-row-right {
    text-align: left;
    padding-left: 8px;
}

@media screen and (max-width: 320px) {
    .market-row-right {
        padding-left: 0;
        font-size: 4.5vw;
        text-align: center;
    }
}