*  {
  overflow-x: hidden;
}

.intelisense-test {
  color: olivedrab;
}

@media screen and (max-width: 480px) {
  #desktop {
    display: none;
  }
}

#desktop h1 {
  text-align: center;
}

#mobile {
  display: 'flex';
  justify-content: 'center',
}

@media screen and (min-width: 480px) {
  #mobile {
    display: none;
  }
}




