*  {
  overflow-x: hidden;
}

.intelisense-test {
  color: olivedrab;
}

@media screen and (max-width: 480px) {
  #desktop {
    display: none;
  }
}

#desktop h1 {
  text-align: center;
}

#mobile {
  display: 'flex';
  justify-content: 'center',
}

@media screen and (min-width: 480px) {
  #mobile {
    display: none;
  }
}

th {
  text-align: center !important;
  padding: 0 !important;
}

.table-header-cell {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(223, 223, 223);
}



